@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                Ứng dụng này hiện chưa có người gửi email thực sự được đăng ký, hãy xem <a href="https://aka.ms/aspaccountconf">these docs</a> ể biết cách định cấu hình một người gửi email thực sự. Thông thường điều này sẽ được gửi qua email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click tại đây để xác thực email</a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>

