<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-toggle" asp-action="Index" asp-controller="Order" asp-area="Admin">
                    <span class="icon-holder">
                        <i class="bi bi-bag"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Product" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                    <span class="icon-holder">
                        <i class="bi bi-bookmarks"></i>
                    </span>
                    <span class="title">Quản lý danh mục</span>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Account" asp-action="Index">
                    <span class="icon-holder">
                        <i class="bi bi-person"></i>
                    </span>
                    <span class="title">Quản lý tài khoản</span>
                </a>
            </li>


            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="bi bi-clipboard-data"></i>
                    </span>
                    <span class="title">Doanh số</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-toggle" asp-action="Index" asp-controller="Blog" asp-area="Admin">
                    <span class="icon-holder">
                        <i class="bi bi-pen"></i>
                    </span>
                    <span class="title">Quản lý tin Blog</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-toggle" asp-action="Index" asp-controller="AdminPages" asp-area="Admin">
                    <span class="icon-holder">
                        <i class="bi bi-files"></i>
                    </span>
                    <span class="title">Quản lý Pages</span>
                </a>
            </li>
        </ul>
    </div>
</div>