@model int 
<div class="container">
    <div class="row pt-4">
        <div class="col-12 text-center">
            <h3 class="text-sm">
                Chúc mừng bạn đã đặt hàng thành công!
            </h3>
            <p>Mã đơn hàng của bạn là: @Model</p>
        </div>
    </div>
</div>