@model int 
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Chúc mừng bạn đã đặt hàng thành công!
        </h1>Mã đơn hàng của bạn là: @Model
    </div>
</div>