<!-- Breadcrumb Section End -->
<!-- Team Section Begin -->
<section class="team">
    <div class="container spad border-top">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Team</span>
                    <h2>Gặp đội ngũ chúng tôi</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/img/BinhAvatar.jpg" alt="" width="270" height="320">
                    <h4>Nguyễn Tố Bình</h4>
                    <span>3121102118</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/img/about/AnhPhat.png" alt="" width="270" height="320">
                    <h4>Nguyễn Tiến Phát</h4>
                    <span>31211021118</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/img/about/AnhBinh.png" alt="" width="270" height="320">
                    <h4>Nguyễn Công Shang</h4>
                    <span>31211021118</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/img/BinhAvatar.jpg" alt="" width="270" height="320">
                    <h4>Mai Hiển Đạt</h4>
                    <span>31211021118</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="counter">
    <div class="container spad border-top">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">102</h2>
                    </div>
                    <span>Khách Hàng <br />Chúng Tôi</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">30</h2>
                    </div>
                    <span>Tổng cộng <br />Sản Phẩm</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">102</h2>
                    </div>
                    <span>Tại <br />Việt Nam</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">98</h2>
                        <strong>%</strong>
                    </div>
                    <span>Khách Hàng <br />Hài Lòng</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section Begin -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>
                        “Chúng tôi khao khát trở thành đối tác đồng hành cùng người đàn ông hiện đại, đồng hành trong hành trình phát triển cá nhân và tự tin bước vào mọi thử thách. Tại Coolmate, chúng tôi tin rằng mỗi người đều là một câu chuyện riêng, và trang phục không chỉ là cách diện mạo mà còn là ngôn ngữ tuyệt vời nhất để kể lên câu chuyện đó!”
                    </p>
                    <div class="testimonial__author">
                        <div class="testimonial__author__pic">
                            <img src="~/img/BinhAvatar.jpg" alt="">
                        </div>
                        <div class="testimonial__author__text">
                            <h5>Nguyễn Tố Bình</h5>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="d-flex justify-content-center py-4">
                    <img src="~/img/testomonial.png" width="522px" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Testimonial Section Begin -->
<!-- Testimonial Section End -->
<!-- Counter Section Begin -->
<!-- Counter Section End -->
<!-- Team Section End -->
<!-- Client Section Begin -->
<section class="clients spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Đối Tác</span>
                    <h2>Nổi Bật</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="~/img/clients/client-1.png" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="~/img/clients/client-2.png" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="~/img/clients/client-3.png" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="~/img/clients/client-4.png" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="~/img/clients/client-5.png" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="~/img/clients/client-6.png" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="~/img/clients/client-7.png" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="~/img/clients/client-8.png" alt=""></a>
            </div>
        </div>
    </div>
</section>